@import url(../static/css/index.css);
.front main{
    flex-direction: column;
    padding: 50px 0;
    gap: 24px;
    height: auto;
    background-size: 116% 100%;
}
.front main img {
    border: solid 4px #003732;
    border-radius: 10px;
}
.front main .projects {
    width: 81%;
    align-items: center;
    display: grid;
    gap:10px;
    grid-template-columns: 50% 1fr;
}
.front main .projects span a{
    padding-top: 191px;
}
.front .projects span a{
    position: relative;
}
.front .projects span a:hover::before , .front .projects span a:hover::after{
   /* content: "medical app more details";
    background-image: linear-gradient(transparent, 57px, rgb(105 146 142), 153px, #b69292);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 151px, #ffa1a1);*/
    padding: 20% 10% 0%;
    width: 80%;
    height: 58%;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 2;
    text-align: center;
    font-size: 22px;
    color: white;
    border-radius: 10px;
}
.front .proj1 span a:hover::before{
    content: "java Project more details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #4c8dce);
}
.front .proj2 span a:hover::before{
    content: "data Structure Project more details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #4cce91);
}
.front .proj3  span a:hover::before{
    content: "Java  Employee and Academy details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #ffa1e0);
}
.front .proj4  span a:hover::before{
    content: "Java  mycompany Project";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #caa1ff);
}
.front .projs1  span a:hover::before{
    content: "GiGi-boutique more details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #f4b1db);
}
.front .projs2  span a:hover::before{
    content: "Live Experiance more details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #ffa1a1);
}

.front .pronj1  span a:hover::before{
    content: "Travel App Project more details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #e1a7b8);
}
.front .pronj2  span a:hover::before{
    content: "Natural Language Project details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #4cce91);
}
.front .pronj3 span a:hover::before{
    content: "weather app Project details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #4c8dce);
}
.front .proph1  span a:hover::before{
    content: "Sign up & Login Project details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #caa1ff);
}
.front .proh1 span a:hover::before{
    content: "portfolio websit Project details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #4c8dce);
}
.front .proh2 span a:hover::before{
    content: "medical-app Project details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #4cce91);
}
.front .proh3 span a:hover::before{
    content: "Landing Page Project details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #4c8dce);
}
.front .proh4  span a:hover::before{
    content: "Blog Page Project details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #caa1ff);
}
.front .proG1 span a:hover::before{
    content: "Cube animation Project details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #4cce91);
}
.front .proAI1 span a:hover::before{
    content: "AI Project details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #6f63b2);
}
.front .proAI2 span a:hover::before{
    content: "Data mining Project details";
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 73%, #63b29a);
}
.front .projects span a:hover::after{
    content: "";
    background-image: url(../static/photo/external-link.png);
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 55%;
    z-index: 2;
    transition-delay: 2s;
    background-size: 100%;
    padding: 0px;
}

#fronth {
    margin-bottom: 84px;
    height: 5px;
}
#frontjs ,#frontnjs, #frontNodejs, #frontPhp, #frontHtml, #frontAI{
margin: 15px 0 84px;
height: 5px;
}
#frontj{
    margin: 15px 0 84px;
    height: 5px;
}
.about {
    padding: 0;
    margin: 0;
}
@media (max-width: 1200px) {
    header #navbar__list {
        gap: 33px;
        width: 100%;
    }
    
}
@media (max-width: 1000px) {
    .front main .projects {
    grid-template-columns: 41% 1fr;
    }
    .front .projects span a:hover::before{
    height: 63%;
    }
   .front main img {
    width: 100%;
    }
    header #navbar__list {
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
  .front .projects span a:hover::before {
        height: 66%;
    }
    
}
@media (max-width: 700px) {
    .front .projects span a:hover::before {
        height: 68%;
    }
    .front main .projects {
        grid-template-columns: 1fr;
    }
    header #navbar__list .off {
        display: block;
    }
    
}
@media (max-width: 520px) {
    .front .projects span a:hover::before {
        height: 72%;
    }
    .front {
        display: block;
    }
    .front {
    margin: 80px 0% 92px 19%;
    }
    .front main {
    background-size: 245% 100%;
    }
}

@media (max-width: 420px) {
    .front .projects span a:hover::before {
        height: 41%;
        margin: 76px 0 0 0;
    }
    .front .projects span a:hover::after {
        width: 23px;
        height: 25px;
        top: 85%;
    }
   /* .front .projects span a:hover::before, .front .projects span a:hover::after {
        padding: 10% 10% 10%;
    }*/
    header #navbar__list {
        gap: 33px;
        width: 142%;
        margin: 17px 18px 5px -126px;
    }
    .front main img {
        height: 121px;
    }
}
