:root {
  --main-color: #0c6e65;
  --secondary-color: rgb(146, 116, 70);
  --neutral-color: #888888;
  --bg-color: #e8f5f3; /* خلفية فاتحة وواضحة أكثر */
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: var(--bg-color);
}

h1 {
  color: var(--main-color);
}

.list-group-item {
  transition: 0.3s;
  border-right: 5px solid var(--main-color);
  background-color: white;
  color: #333;
}

.list-group-item:hover {
  background-color: var(--secondary-color);
  color: white;
}

#searchInput {
  border: 2px solid var(--neutral-color);
}

#searchInput:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
}
